<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-term-menu" label="Terminals">
  <item label="Rxvt Unicode">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="Xfce Appfinder">
    <action name="Execute">
      <command>xfce4-appfinder -c --disable-server</command>
    </action>
  </item>
  <item label="Guake">
    <action name="Execute">
      <command>guake</command>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Thunderbird">
    <action name="Execute">
      <command>thunderbird</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Thunderbird</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="FileZilla">
    <action name="Execute">
      <command>filezilla</command>
    </action>
  </item>
  <item label="Steam">
    <action name="Execute">
      <command>steam</command>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
 <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
    </action>
  </item>
</menu>

<menu id="app-devel-menu" label="Development">
  <item label="IntelliJ Idea">
    <action name="Execute">
      <command>/usr/share/intellijidea-ce/bin/idea.sh</command>
    </action>
  </item>
  <item label="Geany">
    <action name="Execute">
      <command>geany</command>
    </action>
  </item>
  <item label="Texmaker">
    <action name="Execute">
      <command>texmaker</command>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-net-menu"/>
  <menu id="app-devel-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <item label="Lock Session">
    <action name="Execute">
      <command>xscreensaver-command --lock</command>
    </action>
  </item>
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
