[Unit]
Description=dnscrypt-proxy listening socket

[Socket]
ListenStream=127.0.0.1:40
ListenDatagram=127.0.0.1:40

[Install]
WantedBy=sockets.target
